@import url("https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(243, 241, 241);
  font-family: "Kodchasan", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo {
  margin: 5px;
}
@media (max-width: 800px) {
  .logo {
    display: flex;
  }
}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  list-style: none;
  font-size: 20px;
}
@media (max-width: 800px) {
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    gap: 10px;
  }
}

.capa {
  display: flex;
  width: 100%;
  height: 300px;
  margin-bottom: 35px;
}
@media (max-width: 800px) {
  .capa {
    display: none;
  }
}

.glycolic {
  padding: 40px 90px 50px 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.glycolic img {
  margin: 10px 80px 40px 60px;
}
@media (max-width: 800px) {
  .glycolic img {
    width: 100%;
    margin: 10px;
  }
}
@media (max-width: 800px) {
  .glycolic {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1280px) {
  .glycolic {
    width: 100%;
    padding: 0px 25px 10px 25px;
    margin: 0px;
  }
}

.texto-anuncio {
  margin-bottom: 20px;
  font-weight: 100;
}
.texto-anuncio h2 {
  margin: 10px;
  font-size: 35px;
  text-align: center;
}
@media (max-width: 800px) {
  .texto-anuncio h2 {
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
}
@media (max-width: 1280px) {
  .texto-anuncio h2 {
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
}
.texto-anuncio p {
  font-size: 25px;
  text-align: center;
  width: 560px;
  height: 250px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  .texto-anuncio p {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width: 800px) {
  .texto-anuncio {
    margin: 0;
  }
}

.produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px 40px 50px 90px;
  justify-content: space-between;
  height: 250px;
  font-weight: 100;
}
@media (max-width: 800px) {
  .produtos {
    display: block;
    margin: 0;
  }
}

h3 {
  width: 450px;
  height: 80px;
  font-size: 28px;
  margin-left: 150px;
}
@media (max-width: 800px) {
  h3 {
    display: flex;
    font-size: 15px;
    text-align: center;
    padding: 0 30px 0 0px;
  }
}
@media (max-width: 1280px) {
  h3 {
    display: flex;
    width: 470px;
    font-size: 27px;
    margin-left: 20px;
  }
}

.imagens-1, .imagens-2 {
  display: flex;
  gap: 100px;
  margin: 30px;
}
@media (max-width: 800px) {
  .imagens-1, .imagens-2 {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    margin: 30px;
  }
}
@media (max-width: 1280px) {
  .imagens-1, .imagens-2 {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    margin: 30px;
    gap: 90px;
  }
}/*# sourceMappingURL=style.css.map */